@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Kanit", sans-serif;
    padding-top: 77px;
}

.underline {
    text-decoration: underline;
}

.perm-font {
    font-family: "Permanent Marker", sans-serif;
}

hr {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: #000;
    opacity: 1;
}

hr:not([size]) {
    height: 2px;
}

.placeholder {
    width: 90%;
}

.placeholder2 {
    width: 80%;
    height: 40vh;
}

div#map {
    min-height: 360px;
    width: 400px;
}


/*---------------------- Nav Bar ----------------------*/

.navbar {
    background-color: rgba(8, 58, 109, 1);
}

.navbar-dark .navbar-brand {
    color: #fff;
}

.navbar-nav {
    text-align: center;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
}

.logo {
    font-size: 35px;
    padding-left: 15px;
}

.navbar-dark .navbar-toggler {
    margin-right: 8px;
}

.navbar-dark .navbar-toggler-icon {
    color: #fff;
}

/*---------------------- Nav Bar End ----------------------*/

/*---------------------- Footer ----------------------*/

.container-footer {
    background-color: rgba(8, 58, 109, 1);
}

.footer-logo {
    color: #fff;
    font-size: 20px;
    margin-top: 7px;
    margin-bottom: 5px;
}

dl, ol, ul {
    margin-top: 5px;
    margin-bottom: 7px;
}

i {
    color: #fff;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

/*---------------------- Footer End ----------------------*/

/*---------------------- Hero Image ----------------------*/

.hero {
    background-image: url("../images/hero/lp1.jpg");
    background-position: center;
    background-size: cover;
    height: 90vh;
}

/*---------------------- Hero Image End ----------------------*/

/*---------------------- Places ----------------------*/

.placesimg {
    width: 85%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fom-btn {
    background-color: rgba(80, 139, 199, 1);
}

/*---------------------- Places End ----------------------*/

/*---------------------- Mid1 Image ----------------------*/

.mid1-img {
    background-image: url("../images/breaks/shopping.jpg"); /* This image was taken from Pexels site, https://images.pexels.com/photos/2954405/pexels-photo-2954405.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 */
    background-position: center;
    background-size: cover;
    height: 50vh;
}

/*---------------------- Mid1 Image End ----------------------*/

/*---------------------- Shopping ----------------------*/

.shop-li h3 {
    padding: 7px;
}

/*---------------------- Shopping End ----------------------*/

/*---------------------- Mid2 Image ----------------------*/

.mid2-img {
    background-image: url("../images/breaks/restaurants.jpg"); /* This image was taken from Pexels site, https://images.pexels.com/photos/1861785/pexels-photo-1861785.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 */
    background-position: center;
    background-size: cover;
    height: 50vh;
}

/*---------------------- Mid2 Image End ----------------------*/

/*---------------------- Bottom Image ----------------------*/

.btm-img {
    background-image: url("../images/breaks/docks-c.jpg"); /* This image was taken from Pexels site, https://images.pexels.com/photos/2536478/pexels-photo-2536478.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 */
    background-position: center;
    background-size: cover;
    height: 50vh;
}

/*---------------------- Bottom Image End ----------------------*/

/*---------------------- Contact Form ----------------------*/

.contact-form {
    margin: 0 auto;
    max-width: 80%;
}

.form-control {
    line-height: 2.5;
}

.submitbtn {
    background-color: #000;
}

/*---------------------- Contact Form End ----------------------*/

/*---------------------- Hover ----------------------*/

.navbar-dark .navbar-brand:hover {
    color: rgba(104, 192, 255, 1);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(104, 192, 255, 1);
}

.fom-btn:hover {
    background-color: rgba(8, 58, 109, 1);
}

.input:hover {
    border-color: #000;
}

.submitbtn:hover {
    background-color: rgba(80, 139, 199, 1);
    border-color: #000;
}

i:hover {
    color: rgba(104, 192, 255, 1);
}

/*---------------------- Hover End ----------------------*/

/*---------------------- Media Queries ----------------------*/

@media(min-width: 992px) {
    .contact-form {
        margin: 0 auto;
        max-width: 60%;
    }
}

/*---------------------- Media Queries End ----------------------*/
