@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Kanit", sans-serif;
    padding-top: 66px;
}

.underline {
    text-decoration: underline;
}

.perm-font {
    font-family: "Permanent Marker", sans-serif;
}

p {
    margin-top: 7px;
    margin-bottom: 5px;
}

/*---------------------- Nav Bar ----------------------*/

.navbar {
    background-color: rgba(8, 58, 109, 1);
}

.navbar-light .navbar-brand {
    color: #fff;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
}

.logo {
    font-size: 35px;
    padding-left: 15px;
}

.navbar-light .navbar-toggler-icon {
    color: #fff;
}

/*---------------------- Nav Bar End ----------------------*/

/*---------------------- Footer ----------------------*/

.container-footer {
    background-color: rgba(8, 58, 109, 1);
}

.footer-logo {
    color: #fff;
}

dl, ol, ul {
    margin-top: 5px;
    margin-bottom: 7px;
}

i {
    color: #fff;
}

/*---------------------- Footer End ----------------------*/

/*---------------------- Hero Image ----------------------*/

.hero {
    background-image: url("../images/hero/livdocks.jpg");
    background-position: center;
    background-size: cover;
    height: 95vh;
}

/*---------------------- Hero Image End ----------------------*/

/*---------------------- Hover ----------------------*/

.navbar-light .navbar-brand:hover {
    color: rgba(62, 224, 217, 0.7);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(62, 224, 217, 0.7);
}

i:hover {
    color: rgba(62, 224, 217, 0.7);
}

/*---------------------- Hover End ----------------------*/
