@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Kanit", sans-serif;
}

/*---------------------- Nav Bar ----------------------*/

.navbar {
    background-color: rgba(8, 58, 109, 1);
}

.navbar-light .navbar-brand {
    color: #fff;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
}

.logo {
    font-family: "Permanent Marker", sans-serif;
    font-size: 35px;
    padding-left: 15px;
}

.navbar-light .navbar-toggler-icon {
    color: #fff;
}

/*---------------------- Nav Bar End ----------------------*/

/*---------------------- Hover ----------------------*/

.navbar-light .navbar-brand:hover {
    color: rgba(62, 224, 217, 0.7);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(62, 224, 217, 0.7);
}

/*---------------------- Hover End ----------------------*/
